/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 300px;
  }
  .navbar{
    background-color: #FDD692;
  }
  .imputnewproduct{
    padding-left: 7%;
    padding-right: 7%;
   
  }
  .colorBottonañadirproduct{
    background-color: #FBFFB9;
  }
  .textalign{
    text-align: center;
  }
  .navbar{
    background-color: #FDD692;
  }
  .color-fondo{

  background-color: #FBFFB9;
  }